<!DOCTYPE html>
<html>
<head>
<style>
  .seat{ margin : 2px;
         float : left;
         width : 30px;
         height : 30px;
         border-radius : 3px;}
   .line{ overflow : hidden; }
   .enable {background : gray;}
   .disable {background : red;}
</style>
<script src = "http://code.jquery.com/jquery-1.10.2.js">
</script>
<script
src = "/socket.io/socket.io.js">
</script>

<script>
  var socket = io.connect();

  socket.on('reserve',
    function(data)
    {
  var $target=
  $('div[data-x ='+ data.x +'][data-y =' + data.y+']');

  $target.removeClass('enable');
  $target.addClass('disable');


    });

  socket.on('reserveBak',
    function(data)
    {

  var $target=
  $('div[data-x ='+ data.x +'][data-y =' + data.y+']');


  $target.removeClass('disable');
  $target.addClass('enable');
    });

</script>

<script>
  $(document).ready(function()
  {

     var onClickSeat = function(){
         var x = $(this).attr('data-x');
         var y = $(this).attr('data-y');

         if(confirm('확인 : 예약하기 / 취소 : 예약취소'))
          {
            socket.emit('reserve',
              { x : x,
                y : y});
          }
         else
          {
            socket.emit('reserveBak',
              { x : x,
                y : y});
          }
     }



  $.getJSON('/seats',
  	function(data){
  $.each(data,
 	function(index_Y,line)
    {
   var $line = $('<div></div>').addClass('line');
    $.each(line,
         function(index_X,seat){
 var $output =  $('<div></div>',
    	{'class':'seat',
       'data-x' : index_X,
       'data-y' : index_Y  }).appendTo($line);

    if (seat == 1)
      $output.addClass('enable').on('click',
        onClickSeat);

        });


         $line.appendTo('body');
      }); // 첫번째 EACH

  	});  // GETjsON
  });  //DOCUMENT

</script>
</head>
<body>
</body>

</html>
