<!DOCTYPE html>
<html>
  <head>
    <meta charset ="UTF-8">
    <meta name ="viewport" content="width=device-width, initial-scale=1">
    <link rel ="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>insert</title>
  </head>
  <body>
  <div class="w3-top">
    <div class ="w3-var w3-dark-grey">
      <a href="/home" class="w3-bar-item-w3-button">홈</a>
      <a href="/insert" class="w3-bar-item-w3-button">추가</a>
      <a href="/edit" class="w3-bar-item-w3-button">수정</a>
      <a href="/del" class="w3-bar-item-w3-button">삭제</a>
      <a href="/list" class="w3-bar-item-w3-button">조회</a>
    </div>
  </div>
  <br><br>
  <div class="w3-header w3-center">
    <h2>환영합니다</h2>
  </div>

  <div class="w3-table w3-cyan w3-center">
    <form method = "post">
    <h3>회원관리 프로그램 입니다.</h3>
      <h5> 위 메뉴를 이용하여 사이트를 이동하세요. </h5>
      <table text-ailgin="center">
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr> <td></td></tr>
        <tr> <td></td></tr>
        <tr> <td></td></tr>
        <tr> <td></td></tr>
        <tr> <td></td></tr>
      </table>
    </form>
  </div>
  <table class="w3-table-all">


      </table>
    </body>
    </html>
