<!DOCTYPE html>
<html>
  <head>
    <meta charset ="UTF-8">
    <meta name ="viewport" content="width=device-width, initial-scale=1">
    <link rel ="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>del</title>
  </head>
  <body>
  <div class="w3-top">
    <div class ="w3-var w3-dark-grey">
      <a href="/home" class="w3-bar-item-w3-button">홈</a>
      <a href="/insert" class="w3-bar-item-w3-button">추가</a>
      <a href="/edit" class="w3-bar-item-w3-button">수정</a>
      <a href="/del" class="w3-bar-item-w3-button">삭제</a>
      <a href="/list" class="w3-bar-item-w3-button">조회</a>
      <a href="/find" class="w3-bar-item-w3-button">찾기</a>
    </div>
  </div>
  <br><br>
  <div class="w3-header w3-center">
    <h2>회원정보삭제</h2>
  </div>
  <div class="w3-table w3-dark-grey w3-center">
    <form method = "post">
      <div class="w3-center w3-text-white"><h3>삭제할 회원번호를 입력하세요</h3></div>
      <table text-aligin:"center">
        <tr>
          <td><label>회원 번호</label></td>
          <td><input type="text" name ="id" </td>
        </tr>
        <tr>
          <td></td><td><input type ="submit" value="삭제" class= "w3-button w3-round xxlarge w3-light-grey w3-block"</td>
        </tr>
        <tr></tr>
      </table>
    </form>
  </div>
  <table class="w3-table-all">
    <thread>
      <tr class= "w3-red">
        <th>번호</th><th>성명</th><th>거주지</th>
      </thread>
      <% data.forEach(function(item,index){ %>
            <tr>
              <td><%= item.id%></td>
              <td><%= item.name%></td>
              <td><%= item.region %></td>
            </tr>
            <% }) %>
      </table>
    </body>
    </html>
